body{
    background-color: rgb(7, 145, 238);
    font: normal 15px Arial;
}

header{
    color:aliceblue;
    text-align: center;
}

section{ /* Componente das div na HTML */
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0.363);
}

footer{
    color:aliceblue;
    text-align: center;
    font-style: italic;

}
